lapis/*
tree
logs
config.lua
nginx.conf.compiled
storages/notecharts/*
storages/replays/*
!storages/notecharts/.keep
!storages/replays/.keep
share/*
temp/*
backups/*
!share/.keep
!temp/.keep
!backups/.keep
my.cnf
